<?xml version="1.0"?>
<config>
    <modules>
        <BlueAcorn_Contacts>
            <version>1.0.0.0</version>
        </BlueAcorn_Contacts>
    </modules>
    <global>
        <models>
            <blueacorn_contacts>
                <class>BlueAcorn_Contacts_Model</class>
                <resourceModel>blueacorn_contacts_resource</resourceModel>
            </blueacorn_contacts>
            <blueacorn_contacts_resource>
                <class>BlueAcorn_Contacts_Model_Resource</class>
                <entities>
                    <contacts>
                        <table>blueacorn_contacts_user</table>
                    </contacts>
                </entities>
            </blueacorn_contacts_resource>
        </models>
        <helpers>
            <blueacorn_contacts>
                <class>BlueAcorn_Contacts_Helper</class>
            </blueacorn_contacts>
        </helpers>
        <blocks>
            <blueacorn_contacts>
                <class>BlueAcorn_Contacts_Block</class>
            </blueacorn_contacts>
        </blocks>
        <events>
            <controller_action_postdispatch_contacts_index_post>
                <observers>
                    <blueacorn_contacts_contacts>
                        <type>singleton</type>
                        <class>BlueAcorn_Contacts_Model_Contacts</class>
                        <method>post</method>
                    </blueacorn_contacts_contacts>
                </observers>
            </controller_action_postdispatch_contacts_index_post>
        </events>
        <resources>
            <blueacorn_contacts_setup>
                <setup>
                    <module>BlueAcorn_Contacts</module>
                </setup>
            </blueacorn_contacts_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <blueacorn_contacts before="Mage_Adminhtml">BlueAcorn_Contacts_Adminhtml</blueacorn_contacts>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <blueacorn_contacts>
                    <file>blueacorn/contacts.xml</file>
                </blueacorn_contacts>
            </updates>
        </layout>
    </adminhtml>
</config>